#trace-tools-box {
    all: initial; /* 重置所有继承属性 */
}

#trace-tools-box * {
    all: unset; /* 重置所有子元素 */
}

#trace-tools-box {
    position: fixed;
    z-index: 99999999;
    font-size: 14px !important;
    text-align: left !important;
}

/* Logo 图标右下角 */
#trace-tools-box .trace-logo {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 18px;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.3s;
    font-size: 14px;
    background-color: #eb4432;
    color: gold;
    padding: 0;
    border: 1px solid gold;
    box-sizing: content-box;
}

#trace-tools-box .trace-logo .logo {
    float: left;
    background-color: #fff !important;
}

#trace-tools-box .trace-logo .title {
    margin: 0 4px;
}

/* Tabs 容器 */
#trace-tools-box .tabs-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 260px;
    max-height: 80%;
    background: #333;
    border-top: 1px solid #444;
    display: none;
    flex-direction: column;
}

/* Tabs 头部 */
#trace-tools-box .tabs-header {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-bottom: 1px solid #444;
    background: #222;
    max-width: 100%;
    overflow: auto;
}

#trace-tools-box .tabs-logo-small {
    height: 22px;
    margin: 0 15px;
    cursor: pointer;
}

#trace-tools-box .tabs-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#trace-tools-box .tabs-item {
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    color: #ccc;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
}

#trace-tools-box .tabs-item.active {
    background-color: #eb4432;
    color: #fff;
    border-radius: 0;
}

#trace-tools-box .tabs-close {
    margin-left: auto;
    padding: 2px 6px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    min-width: 30px;
}

#trace-tools-box .tabs-close:hover {
    color: #fff;
}

/* Tabs 内容 */
#trace-tools-box .tabs-content {
    flex: 1;
    padding: 0;
    background: #252a37;
    color: #edf2f7;
    overflow-y: auto;
    display: none;
}

#trace-tools-box a {
    color: #1775cc !important;
    cursor: pointer;
}

#trace-tools-box .tabs-content.active {
    display: block;
}

#trace-tools-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#trace-tools-box li {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2px 0 2px 10px !important;
    margin: 0 !important;
}

/*#trace-tools-box li:nth-child(odd) {
  background-color: #252a37;
}*/

#trace-tools-box li:nth-child(even) {
    background-color: #18181b;
    color: white;
}

#trace-tools-box li .json-label {
    /*      flex: 0 0 25%;*/
    flex: 1;
    /*      max-width: 25%;*/
    line-height: 1.6;
    word-break: break-word;
}

#trace-tools-box li .json-arrow-pre-wrapper {
    flex: 0 0 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

#trace-tools-box li .json-string-content {
    flex: 0 0 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

#trace-tools-box li .json-right {
    /*flex: 0 0 5%;*/
    /*max-width: 5%;*/
    width: 70px;
    display: flex;
    flex-direction: column;
}

#trace-tools-box .json-arrow {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

#trace-tools-box pre {
    display: none;
    background-color: #f4f4f4;
    color: #333;
    padding: 2px 8px;
    margin: 5px 0 0 0;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 3px;
    font-size: 14px;
    /** 隔行换背景色 */
    background-size: 100% 28px;
    background-image: linear-gradient(to bottom, #eee 50%, transparent 50%), linear-gradient(to bottom, white 50%, transparent 50%);
    background-position: 0 0, 0 14px;
}

#trace-tools-box pre.show {
    display: block;
}

/*展开/收起文本*/
#trace-tools-box .truncated { white-space: nowrap; overflow: hidden; }
#trace-tools-box .expanded { white-space: normal; }
#trace-tools-box .expand-btn { color: #1890ff; cursor: pointer; margin-left: 4px; }
#trace-tools-box .expand-btn::before { content: '▶'; font-size: 10px; margin-right: 2px; }
#trace-tools-box .expanded .expand-btn::before { transform: rotate(90deg); }
